<title>Panel kontrolny</title>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<h2>Panel kontrolny</h2>
<p>Aktualny status: <span id="status"></span></p>
<p>Adres IP: <span id="ip">{{ ip }}</span></p>
<p><a href="/">Powrót</a></p>
<p><button onclick="api_music()">Uruchom audio</button></p>
<p><button onclick="api_video()">Uruchom wideo</button></p>
<p><button onclick="api_reset()">Zatrzymaj wszystko</button></p>
<h2>Kontrola automatyczna</h2>
<p>Co jaki czas ma być puszczane audio? Przykładowa wartość: 1h, 10m, itp. Wartość domyślna to 10s.</p>
<p><input type="text" id="automation_period"/></p>
<p>Jak długo ma trwać przerwa na audio? Przykładowa wartość: 5s, 1m, itp. Mowa ma 3m24s. Wartość domyślna to 5s.</p>
<p><input type="text" id="automation_audio_time"/></p>
<p>Odtwarzanie automatyczne</p>
<p><button onclick="automation_start()">Rozpocznij</button></p>
<p><button onclick="automation_stop()">Zatrzymaj</button></p>
<script type="text/javascript" src="/static/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/static/settings.js"></script>
<script type="text/javascript" src="/static/admin.js"></script>
