<link rel="stylesheet" type="text/css" href="/static/style.css">
<div class="admin"><button onclick="api_music()">start music</button></div>
<div class="admin"><button onclick="api_video()">start videos</button></div>
<div class="admin"><button onclick="api_reset()">reset</button></div>
<div class="admin"><div>status: <span id="status"></span></div>
<script type="text/javascript" src="/static/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/static/settings.js"></script>
<script type="text/javascript" src="/static/admin.js"></script>
